{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "chat/css/support.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "utilities/js/full-height-widget.js" %}"></script>
    <script>
        /**
         * @type {Array<{title: string, text: string}>}
         */
        window.supportPreparedAnswers = {{ prepared_answers|safe }};

        window.addEventListener("load", function () {
            document.getElementById("support-container").appendChild(support.getContainer());
            fullHeightWidget(support.getContainer());
        });
    </script>
{% endblock %}

{% block content %}
    <div id="support-container"></div>
{% endblock %}
