{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "login/shibboleth/discovery-service/idpselect.css" %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static "login/shibboleth/discovery-service/idpselect_config.js" %}"></script>
    <script src="{% static "login/shibboleth/discovery-service/idpselect.js" %}"></script>
    <script>
        window.addEventListener("load", function () {
            new IdPSelectUI().draw(new IdPSelectUIParms(["{{ return_address }}"]))
        });
    </script>
{% endblock %}

{% block content %}
    <div id="idpSelect"></div>
{% endblock %}
